<html>

<head>
    <title>DS Shot Rating</title>
</head>

<body>

    <form method="POST" action="{% url 'ds:create' %}">
        {% csrf_token %}
        <input type="text" required autofocus placeholder="Название табака" name='tobacco'>
        <input type="submit" value="Добавить">
    </form>



    {% for tobacco in tobacco_list %}
        Табак: {{ tobacco.tobacco_name }} <a href="{% url 'ds:delete' tobacco.id %}">Удалить</a><br>
        Рейтинг: {{ tobacco.tobacco_rating }}<br>
    {% endfor %}

</body>

</html>